@model IEnumerable<ChoresApplication.Models.ChoresModel>

@{
    ViewBag.Title = "Index";
}

<h2>Chores index</h2>

<p>
    @Html.ActionLink("New chore", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChoreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChoreDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChoreName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChoreDescription)
        </td>
        <td>
            @Html.ActionLink("Edit chore", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Show chore details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete chore", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
